.globalTotalByDate {
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}

.barGraph{
    border: 1px solid black;
}

.chartListContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
    padding-bottom: 4rem;
}

.chartMenu {
    flex-basis: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.globalTotal {
    flex-basis: 100%;
}

.chartContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chartHeader {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
}

.chartDescription {
    text-align: center;
}

.selectableGraph,
.percentChangeGraph,
.movingAverageGraph,
.dailyReport {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}