.topNav {
    flex-basis: 100%;
    display: flex;
    background-color: #2B2D42;
    color: white;
    box-shadow: inset 0 -4px 0 0 #1A1B25;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
}

.leftNav {
    background-color: #1A1B25;
    height: 93vh;
    width: 15%;
    position: fixed;
}

.menuButtonContainer {
    background-color: #1A1B25;
    flex-basis: 15%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__btn {
    margin: 5vh 0;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.nav__icon {
    margin: 0 .5vw;
    height: 4rem
}

.nav__text {
    color: white
}